.output {
  width: 55%;

  &__header {
    text-align: center;
    background-color: #de4e4e;
    padding: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &__preview {
    background-color: #f3ebeb;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 2.5rem;
    margin-bottom: 1rem;
  }
}
